<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Amethyst</span>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="targetStart" placeholder="Target Start">
      <input class="form-control mr-sm-2" [(ngModel)]="targetEnd" placeholder="Target End">
    </form>

  </div>
</nav>

<div class="container my-3">
  <div class="card">
    <h5>Enter a new set of class information</h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Subject"
            [(ngModel)]="subject"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Start date"
            [(ngModel)]="start"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="End date"
            [(ngModel)]="end"
          />
        </div>
        <div class="col">
          <button class="btn btn-primary btn-small" (click)="AddSubject()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of subjects">
            <td>{{s.name}}</td>
            <td>{{s.start}}</td>
            <td>{{s.end}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>



<div class="container-fluid">
  <embed src="http://student.franklinvirtualschools.com/login.aspx" style="height: 1200px; width: 100%;" title="Franklin hopefully"/>

</div>
