<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Amethyst</span>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h5>Enter a new set of class information</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Class" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Start date" aria-label="Last name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="End date" aria-label="Last name">
            </div>
            <div class="col">
              <button class="btn btn-primary btn-small">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
